body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* overflow: hidden; */
    background-color: #ecbfbfb3;
    font-family: sans-serif;
}

/* Designing Left Section */

.left-sec{
    height: 527px;
    background-color: #fff;
}
.left-sec #form #msg{
    color: red;
}
/* Designing Right Section */

.right-sec{
    height: 527px;
    background-color: rgb(237, 34, 85);
    border-bottom: 10px solid transparent;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.right-sec::-webkit-scrollbar {
    display: none;
  }
.right-sec #tasks{
    width: 100%;
    height: auto;
    display: grid;
    gap: 15px;
}
#tasks div{
    border: 3px solid rgba(51, 51, 51, 0.898);
    background-color: #fff;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
    width: 100%;
}
#tasks div .options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#tasks div .options i{
    cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
    .con{
        border: 10px solid transparent;
    }
}